@import 'variables'; 
.main{
    color: $main-font ;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // max-width: 800px;
    margin: 0 auto;
    padding-left: 10px;
    margin-left: 10px;
}